html, body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.app{
	float: left;
	width: 100%;
	background-color: #f6f5fa;
}

.container{
	width: calc(100% - 20px);
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}

.sidebar{
	float: left;
	width: calc(300px - 40px);
	padding: 0 20px;
	height: 100vh;
	background-color: #f6f5fa;
	overflow-y: auto;
}

.content{
	float: left;
	width: calc(100% - 360px);
	padding: 0 30px;
	height: 100vh;
	overflow-y: auto;
	background-color: #FFF;
}

/* width */
::-webkit-scrollbar {
	width: 3px;  
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.projects-container{
	float: left;
	width: 100%;
}

.project-list{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.project{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
}

.project-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	border: 2px solid #FFF;
}

.project-icon img{
	width: 100%;
	border-radius: 50%;
}

.project-letter{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	background-color: #d7d7d7;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	border: 2px solid #FFF;
}

.project-name{
	width: calc(100% - 45px);
	float: left;
	line-height: 34px;
	margin-left: 6px;
}

.project-title{
	margin-bottom: 50px
}

.section{
	color: #9754b3;
	padding: 0;
	margin: 0;
	width: 100%;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

ul{
	float: left;
	width: 100%;
	padding: 0;	
	list-style: none;
	margin-bottom: 50px;
}

li{
	font-size: 16px;
	padding-bottom: 10px;
	width: 100%;
}

.task-wrapper{
	float: left;
	width: 100%;
	padding-bottom: 15px;
}

.task-wrapper .checkbox{
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #8b8b8b;
}

.completed .checkbox{
	background-color: #d7d7d7;
	border: 1px solid #d7d7d7;
}

.completed .checkbox img{
	display: block;
	width: 12px;
	margin-left: 4px;
	margin-top: 4px;
}

.completed .task-title{
	color: #bdbdbd;
}

.task-wrapper .task-title{
	float: left;
	width: calc(100% - 32px);
	line-height: 22px;
	padding-left: 10px;
}

.project-list h3{
	color: #9754b3;
}

.project-list .selected{
	background-color: #e3e2e7;
	border-radius: 5px;
	padding: 5px;
}

.l-1{
	color: #B39A3B;
}

.l-2{
	color: #CC7B14;
}

.l-3{
	color: #FF75DE;
}

.l-4{
	color: #CC43C3;
}

.l-5{
	color: #CC454A;
}

.l-6{
	color: #799DFF;
}

.l-7{
	color: #29B3B1;
}