<div class="container" >
  <div class="row">
    <div class="col-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
