
@media screen and (min-width: 576px) {
    .container {
        max-width: 400px;
    }    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }    
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }    
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }    
}

