<div class="d-flex flex-column p-3" >
  <!--
  <div class="logo">
    <span>pla</span>
    <span class="special">w</span>
    <span>er</span>
    <span class="special">.</span>
  </div>
-->
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let project of allProjects" class="list-group" cdkDrag>
      <div *ngIf="project.is_sect==true" class="project-section">{{project.project_name}}</div> 
      <a *ngIf="project.is_sect==false" href="" class="p-1" [ngClass]="{'active':project.id==active_id}" (click)="openDashboard(project.id)" routerLink="/{{project.id}}">
        <img src="{{project.image_url}}" alt="Avatar" class="avatar"> {{project.project_name}}
      </a>     
    </div>
  </div>
</div>