span {
    color: #78A8FF;
}
.logo {
    font-size: 35px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
.special {
    color: #7F4BB3;
}
.project-section {
    color: #3fa49a;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px #FFF;
}

.avatar-rounded{
  border-radius: 50%;
  border: solid 3px #FFF;
}

.active {
    background: #e3e4e8;
    border-radius: 3px;
}
a {
    color: black;
    text-decoration: none !important;
}
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  