<div id="dashboard" class="p-3">
  <h4>{{projectName}}</h4>
  <p>{{projectDescription}}</p>  
  
  <mat-form-field class="tp-full-width">
      <input id="txtAddNewTask" matInput placeholder = "Add Task" [(ngModel)]="newTask" (keypress)="eventHandler($event)" >
  </mat-form-field>
  
  <div cdkDropList  (cdkDropListDropped)="drop($event)" style="padding-top: 20px;">
      <div *ngFor="let task of allTasks" class="list-group" cdkDrag (contextmenu)="onContextMenu($event, task)">

        <div *ngIf="task.is_sect==true" class="section">{{task.task_name}}</div> 
        <div *ngIf="task.is_sect==false" href="" class="d-flex task-block" context="context"
        [ngClass]="{'completed-task-block':task.status=='completed'}"
        >
            <section class = "tp-section">
                <mat-checkbox
                  (change)="updateStatus(task)"
                   class = "tp-margin"                                      
                   [ngClass]="{'completed-checkbox':task.status=='completed'}"
                   [checked] = "task.status=='completed'"
                   [disabled] = "task.disabled">                   
                </mat-checkbox>
                <label [ngClass]="{'completed-task':task.status=='completed'}">{{task.task_name}}</label>
             </section>
             <span [ngClass]="{'fa fa-star ml-auto checked custom-star':task.interested}" (click)="updateInterested(task)"></span>
             <span [ngClass]="{'fa fa-star ml-auto unchecked custom-star':!task.interested}" (click)="updateInterested(task)"></span>

        </div>     
        <div style="position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu"
        [matMenuTriggerData]="{item: task}">
      </div>
    </div>   
    <mat-menu #contextMenu="matMenu">
      <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="onContextMenuAction_ArchiveTask(item)">Archive</button>
        <button mat-menu-item (click)="onContextMenuAction_DeleteTask(item)">Delete</button>
        <!--<button mat-menu-item (click)="onContextMenuAction2(item)" *ngIf="!item.is_sect">Enable/Disable</button>-->
      </ng-template>
    </mat-menu>
</div>
