
.section {
    color: #7F4BB3;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    border-bottom: 1px solid #e3e4e8;
   padding-bottom: 5px;
}

.project-section {
   color: #7F4BB3;
   font-size: 18px;
   font-weight: bold;
   padding-top: 30px;
}

.task-block{
   padding-top: 13px;
}

.completed-task{
   color: #d7d7d7;
}

.completed-checkbox * .mat-checkbox-checked.mat-accent .mat-checkbox-background, .completed-checkbox * .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
   background-color: #d7d7d7 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
   background-color: #d7d7d7 !important; /* Red background for example */
}

.custom-star{
   line-height: initial;
   margin-top: 3px;
   cursor: pointer;
}

.tp-section, .tp-section label {
    display: flex;
    align-content: center;
    align-items: center;
 }
.tp-margin {
    /* margin: 0 10px; */
    margin-right: 20px;
 }
 .checked {
    color: #38a9f8;
 }

.completed-task-block .checked{
   color: rgba(56, 169, 248, 0.2);
}

 .unchecked {  
     color: lightgrey;
 }
 span {
     font-size: 20px;
     line-height: 60px;
 }
 .tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
 
 .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  